# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
gradle.properties

# Compiled Files
*.class
*.jar
*.war
*.ear

# LWJGL / Native Logs
hs_err_pid*
replay_pid*

# IDEs
# IntelliJ IDEA
.idea/
*.iml
out/
# Eclipse
.classpath
.project
.settings/
.metadata/
# VS Code
.vscode/
bin/

# OS
.DS_Store
Thumbs.db

# Project
kls_database.db
